ENV=development

LOG_LEVEL=INFO

COMPOSIO_API_KEY=ak_6JFyUbe_JjbwvN0m09uW


OPENAI_API_KEY=YOUR_OPENAI_API_KEY

MODEL_NAME=gpt-4.1

MAX_CONCURRENT_REQUESTS=5

REQUESTS_PER_SECOND=2

INPUT_PATH=data/input/apps.csv

OUTPUT_DIR=data/output

CHECKPOINT_DIR=data/checkpoints

LOG_DIR=logs
